 <!-- Todo : make this position fixed -->
 <div class="bar item-input-inset">
   <label class="item-input-wrapper">
     <i class="icon ion-ios-search placeholder-icon"></i>
     <input type="search"
            placeholder="Search"
            ng-model="$ctrl.filterText"
            ng-model-options="{ debounce: 150 }"
            ng-focus="$ctrl.searchBarFocus()"
            ng-blur="$ctrl.searchBarBlur()">
   </label>

   <button class="button button-clear button-dark"
   			ng-show="$ctrl.filterText || $ctrl.showCancel"
           ng-click="$ctrl.clearSearch()">
     Cancel
   </button>
 </div>
