h2.speaker-name {
  font-weight: bold;
}

h4.speaker-title-item {
  overflow: auto;
  text-overflow: inherit;
  white-space: normal;
  font-size: 13px;
}

div.speaker-info {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  padding-left: 10px;
}

img.speaker-avatar {
  max-height: 50px;
  max-width: 50px;
  vertical-align: middle;
  border-radius: 5px;
}
