<ion-view view-title="Impact Nation">
  <ion-content>
    <img src="img/logo_Impact_Nation_relias_white.png" id="impact-logo">
    <div class="card">
      <div class="item item-divider">Your next sessions</div>
      <div class="item-body" ng-if="$ctrl.userSessions.length === 0">You have no sessions scheduled</div>
      <ion-list>
        <session-list-item session="session" ng-repeat="session in $ctrl.userSessions"></session-list-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
