.impact-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.impact-logo-container img {
  width: 280px;
}

.home-footer {
  background: transparent;
  color: white;
  height: 35px;
}

.home-footer .title {
  font-size: 12px !important;
}
