<ion-view view-title="">
  <ion-content>
    <div class="impact-logo-container">
      <img src="../../../img/logo_Impact_Nation_relias_white.png">
    </div>
    <div class="card">
      <div class="item item-divider">Your upcoming sessions</div>
      <div class="item-body text-center positive" ng-if="$ctrl.userSessions.length === 0" ui-sref="app.schedule">
        Add sessions to your schedule
      </div>
      <ion-list>
        <session-list-item session="session" disable-edit="true" ng-repeat="session in $ctrl.userSessions"></session-list-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
