<ion-view>
  <ion-nav-title ng-bind="$ctrl.selectedTab.title"></ion-nav-title>
  <ion-content class="has-footer">
    <div class="card date-options">
      <div class="option"
           ng-repeat="option in $ctrl.dateOptions"
           ng-bind="option"
           ng-click="$ctrl.selectDate(option)"
           ng-class="{'active': option === $ctrl.selectedDate}">
      </div>
    </div>

    <search-bar filter-text="$ctrl.filterText"></search-bar>

    <ion-list>
      <session-list-item
        session="session"
        hide-date="true"
        ng-repeat="session in filtered=($ctrl.sessionFilter($ctrl.selectedTab.sessions))">
      </session-list-item>
      <ion-item
        class="centered-wrapped-item"
        ng-if="filtered.length === 0"
        ng-bind="$ctrl.selectedTab.emptyMessage">
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs tabs-icon-top">
    <a class="tab-item"
       ng-repeat="tab in $ctrl.tabs"
       ng-class="{'active': tab.title === $ctrl.selectedTab.title}"
       ng-click="$ctrl.selectTab(tab)">
      <i class="icon {{ tab.icon }}"></i> {{ tab.title }}
    </a>
  </div>
</ion-view>
