<ion-item class="item session-item" ng-class="{'item-icon-right': !$ctrl.disableEdit}" ui-sref="app.session({ sessionID: $ctrl.session.id })">
  <div class="session-content">
    <h4 class="time-area" align="right">
      <div class="session-start-time" ng-bind="$ctrl.session.startTimeFormatted"></div>
      <div class="session-end-time" ng-bind="$ctrl.session.endTimeFormatted"></div>
    </h4>
    <div class="vertical-divider"></div>
    <div>
      <h2 class="session-title" ng-bind="$ctrl.session.title"></h2>
      <h4 class="session-location">
        <span ng-if="!$ctrl.hideDate">{{ $ctrl.session.displayDate }} | </span>
        <span class="ion-location"> {{ $ctrl.session.location }}</span>
      </h4>
    </div>
  </div>
  <schedule-button session="$ctrl.session" ng-if="!$ctrl.disableEdit"></schedule-button>
</ion-item>
