<ion-item class="item item-icon-right session-item" ui-sref="app.session({ sessionID: $ctrl.session.id })">
  <div class="session-content">
    <h4 class="time-area" align="right">
      <div class="session-start-time" ng-bind="$ctrl.session.startTimeFormatted"></div>
      <div class="session-end-time" ng-bind="$ctrl.session.endTimeFormatted"></div>
    </h4>
    <div class="vertical-divider"></div>
    <div>
      <h2 class="session-title" ng-bind="$ctrl.session.title"></h2>
      <h4 class="session-location ion-location" ng-bind="' ' + $ctrl.session.location"></h4>
    </div>
  </div>
  <schedule-button session="$ctrl.session"></schedule-button>
</ion-item>
