.bar-stable.bar-relias-green {
  background-color: #5fab44;
}
.bar-stable.bar-relias-light-green {
  background-color: #86b774;
}
.bar-stable.bar-relias-green .title,
.bar-stable.bar-relias-light-green .title {
  color: #eee;
}

.card .item:last-child .item-content {
  border-top: 1px solid #ddd;
}
